.container-fluid {
  padding: 28px;
  text-transform: capitalize;
  .left-section {
    p {
      font-weight: bold;
      font-size: 22px;
    }
  }
  .right-section {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
.container {
  padding: 70px 0;
  text-transform: capitalize;
  .list {
    position: relative;
    animation: list 1s ease-in-out;
    display: grid;
    align-content: center;
    justify-content: center;
  }
  h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
  }
  ul li {
    padding: 10px 0;
    font-size: 22px;
    line-height: 30px;
    i {
      color: #4445f0;
      padding-right: 10px;
    }
  }
  form {
    display: grid;
    position: relative;
    animation: anime 1s ease-in-out;
    span {
      cursor: pointer;
    }
    button {
      padding: 8px;
      font-size: 18px;
    }
    section {
      padding-top: 15px;
    }
  }
  @keyframes anime {
    from {
      bottom: -150px;
      opacity: 0;
    }
    to {
      bottom: 0px;
      opacity: 1;
    }
  }
  @keyframes list {
    from {
      left: -150px;
      opacity: 0;
    }
    to {
      left: 0px;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 40px 20px;
  }
}