<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6 left-section">
      <p>logo</p>
    </div>
    <divclass="col-md-6 right-section">
      <p>Already Using?</p>
      <button [routerLink]="['/signin']" routerLinkActive="router-link-active" mat-button color="primary"> Sign in</button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Create An Account</h1>
      <ul>
        <li><i class="bi bi-shield"></i> secure payments through reliable partners</li>
        <li><i class="bi bi-lightning-charge"></i>fast transfers</li>
        <li><i class="bi bi-percent"></i>fair comissions</li>
        <li><i class="bi bi-activity"></i>best avialable rates</li>
        <li><i class="bi bi-hand-thumbs-up"></i>convenience</li>
      </ul>
    </div>
    <div class="col-md-6">
      <form action="" (ngSubmit)="register(form)" autocomplete="off" [formGroup]="form">
        <!-- full name -->
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput type="text" formControlName="fullName" placeholder="John Doe" />
          <span *ngIf="fullName.valid"
            mat-icon-button
            matSuffix>
            <mat-icon style="color: green;">check</mat-icon>
          </span>
          <mat-error *ngIf="fullName.touched && fullName.hasError('required')">Full Name Is Required</mat-error>
        </mat-form-field>

        <!-- email -->
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="test@gmail.com" />
          <span *ngIf="email.valid"
            mat-icon-button
            matSuffix>
            <mat-icon style="color: green;">check</mat-icon>
          </span>
          <mat-error *ngIf="email.touched && email.hasError('required')">Email Is Required</mat-error>
          <mat-error *ngIf="email.touched && email.hasError('email')">Enter Valid Email</mat-error>
        </mat-form-field>

        <!-- telephone -->
        <mat-form-field appearance="outline">
          <mat-label>Telephone</mat-label>
          <input type="tel" formControlName="tel" matInput placeholder="555-555-1234" />
          <mat-error *ngIf="tel.touched && tel.hasError('required')">Telephone Is Required</mat-error>
          <mat-error *ngIf="tel.touched && tel.hasError('tel')">Enter Valid Telephone</mat-error>
          <span *ngIf="tel.valid"
            mat-icon-button
            matSuffix>
            <mat-icon style="color: green;">check</mat-icon>
          </span>
        </mat-form-field>

        <!-- datepicker -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>

        <!-- password -->
        <mat-form-field appearance="outline" class="password">
          <mat-label>Enter your password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
          <span
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </span>
          <mat-error *ngIf="password.touched && password.hasError('required')">Password is Required</mat-error>
        </mat-form-field>

        <!-- password confirm -->
        <mat-form-field appearance="outline">
          <mat-label>Confirm your password</mat-label>
          <input matInput formControlName="passwordConfirm" [type]="confirm ? 'password' : 'text'" />
          <span
            mat-icon-button
            matSuffix
            (click)="confirm = !confirm"
            [attr.aria-label]="'confirm password'"
            [attr.aria-pressed]="confirm">
            <mat-icon>{{ confirm ? "visibility_off" : "visibility" }}</mat-icon>
          </span>
          <mat-error *ngIf="passwordConfirm.touched && form.hasError('passwordsNotMatching')">Password Do Not Match</mat-error>
        </mat-form-field>


        <button mat-flat-button color="primary">Sign Up</button>

        <!-- check policy -->
        <section>
          <p>
            <mat-checkbox color="primary">i agree to our terms of service and privacy policy</mat-checkbox>
          </p>
        </section>
      </form>
    </div>
  </div>
</div>
